@mixin flexbox ($gap : null , $direction : row ,$justify : flex-start ,  $align :stretch ) {
display: flex;
flex-direction: $direction;
justify-content: $justify;
align-items: $align;
@if $gap != null {
    gap: $gap;
}
}

@mixin layout($width , $height :inherit , $border-radius  , $color : white){
    width: $width;
    height: $height;
    border-radius: $border-radius;
    color: $color;
}
@mixin font($size , $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin respond-to ($screenSize) {
    @if $screenSize == phone {
        @media (max-width : 600px) {@content}
    }
}