@mixin flexbox ($gap : null , $direction : row ,$justify : flex-start ,  $align :stretch ) {
display: flex;
flex-direction: $direction;
justify-content: $justify;
align-items: $align;
@if $gap != null {
    gap: $gap;
}
}

@mixin layout($width , $height , $border-radius ){
    width: $width;
    height: $height;
    border-radius: $border-radius;
}