
$sidebarImg : url("../assets/images/bg-sidebar-desktop.svg");

// $text-colors : (
//     "primary" : rgb(116, 112, 112),
//     "secondary" : rgb(182, 171, 171)
//     "error-color" : 
//     "success-color" : 
// );

// for colors 
$colorBody: hsl(225, 14%, 95%);
$mainColor : hsl(0, 0%, 100%);
$primary :hsl(213, 96%, 18%);
$inputColor : hsl(229, 24%, 87%);
$secondary : hsl(243, 100%, 62%);
$titleColor : hsl(231, 11%, 63%);
$error : hsl(354, 84%, 57%);
// $successColor : 


// $font-weights :(
//     "regular" :400,
//     "bold" : 600,

// );

