
$sidebarImg : url("../assets/images/bg-sidebar-desktop.svg");

// $text-colors : (
//     "primary" : rgb(116, 112, 112),
//     "secondary" : rgb(182, 171, 171)
//     "error-color" : 
//     "success-color" : 
// );

// for colors 
$colorBody: hsl(217, 100%, 97%);
$mainColor : hsl(0, 0%, 100%)
// $primary_color : 
// $secondary_color : 
// $errorColor : 
// $successColor : 


// $font-weights :(
//     "regular" :400,
//     "bold" : 600,

// );

