@import "./variables";
@import "./base";
@import "./mixins";
@import "./utilities";
// p {
//     font-weight: map-get($font-weights, bold);
//     color: map-get($font-colors, primary);
// }

.main {
  background: $mainColor;
  @include layout(700px, 400px, 10px);
  padding: 10px;
  @include flexbox(null, row, space-between);
  .sidebar {
    background: $sidebarImg no-repeat;
    background-size: cover;
    @include layout(380px, 30%, 8px);
    padding: 20px;
    &__content {
      @include flexbox(20px, column, center);
      &-step {
        @include flexbox(10px);
        &-number {
          @include layout(30px, 30px, 50%);
          border: 1px solid $mainColor;
          color: $mainColor;
          text-align: center;
          line-height: 30px;
        }
        &-description {
          @include flexbox(2px, column);
          &-title {
            color: hsl(231, 11%, 63%);
            font-size: 12px;
            text-transform: uppercase;
          }
          &-info {
            color: $mainColor;
            text-transform: uppercase;
            font-size: 12px;
            font-family: Ubuntu;
          }
        }
      }
    }
  }
  .form {
    width: 60%;
  }
}
